*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #efefef;
}

.header, .footer {
    text-align: center;
    /* background-color: #ffffff; */
    margin: 10px 0 0 0;
}

input[placeholder="Фамилия Имя Отчество"]{
    width: 450px;
    margin: 15px;
}


body{
    width: 1000px;
    margin: 0 auto 0 auto;
}


.que1{
    display: flex;
    margin: 15px 0 15px 0;
    padding: 10px 0 0 10px; 
    background-color: #ffffff;
}


.que1Inp, .que2Inp {
    margin: 25px 0 0 25px;
}

.que2 {
    background-color: #ffffff;
    margin: 15px 0 15px 0;
    padding: 10px 0 0 10px;

}

.clea{
    clear: both;
}

.result, .badAnsw, .closeStartMessage, .closeEndMessage{
    border-radius: 5px;
    min-height: 25px;
    min-width: 170px;
    margin: 5px;
    font-size: 28px;
    background-color: #5781e1;
    color: #fff;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out, border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
    padding: 10px;
    font-weight: bold;
}

.result:hover, .badAnsw:hover, .closeStartMessage:hover, .closeEndMessage:hover{cursor: pointer;
    background-color: #1f318e !important;
    color: #ffffff !important;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out, border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.container{
    display: block;
    position: fixed;
    z-index: 1600;
    left: 0px;
    top: 0px;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.98);
    overflow: auto;
    margin: 0;
   }

.startMessage{
    margin: 100px auto;
    padding: 20px;
    width: 40%;
    z-index: 1700;
    background-color: #efefef;
    text-align: center;
    font-size: 30px;
}

.endContainer{
    display: none;
    position: fixed;
    z-index: 1600;
    left: -10px;
    top: -10px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.98);
    overflow: auto;
}
.endMessage{
    margin: 100px auto;
    padding: 20px;
    width: 40%;
    z-index: 1700;
    background-color: #efefef;
    text-align: center;
    font-size: 30px;
}

#r{
    float: right;
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.badAnswPass, #passCloseMessage, #FIO{
    border-radius: 5px;
    min-height: 25px;
}